# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/

# IDE-specific
.idea/
.vscode/

# Data files
backend/data/
*.csv
*.png

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
/build
.DS_Store
